# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Virtual environments
venv/
.venv/
env/

# VSCode settings
.vscode/

# macOS junk files
.DS_Store

# Logs
*.log

# Testing cache
.pytest_cache/
.cache/

# Build artifacts
build/
dist/
*.egg-info/

# mypy & coverage
.mypy_cache/
.coverage
htmlcov/


backend/model/
