fastapi
uvicorn
sqlalchemy
python-dotenv
jinja2
passlib[bcrypt]
itsdangerous
PyJWT
pydantic[email]
python-multipart
yagmail
pandas
openpyxl
PyMuPDF 
faiss-cpu
langchain==0.3.13
langchain-community==0.3.13
langchain-openai==0.2.14
langchain-core==0.3.28
langchain-text-splitters==0.3.5
reportlab
psycopg2-binary==2.9.9
openai
boto3 
botocore
PyPDF2
alembic
celery==5.3.4
redis==5.0.1
flower==2.0.1 
kombu==5.3.4  # Celery dependency
vine==5.1.0