fastapi
uvicorn
sqlalchemy
python-dotenv
jinja2
passlib[bcrypt]
itsdangerous
jwt
pydantic[email]
python-multipart
yagmail
pandas
openpyxl
PyMuPDF 
faiss-cpu
langchain
langchain-community
langchain-openai
reportlab
psycopg2-binary==2.9.9
openai